.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;
  width: 720px;
}

.content{
  float: left;
  width: 575px;
  padding-right: 20px;
  border-right: 5px solid #C0C0C0;
}

nav{
  float: right;
  width: 100px;
  padding-left: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    margin-top: 0;
}

.footer{
  clear: both;
  border-top: 5px solid #C0C0C0;
  padding-top: 20px;
  padding-bottom: 20px;
}
