<div class="container">
  <h1>File Uploader!</h1>
  <form method="post" action="/" enctype="multipart/form-data">
    <input type="file" name="filename" />
    <p>
    <input type="submit" value="Upload!" />
    </p>
  </form>
</div>